<?php
// Zabbix GUI configuration file
{% if zabbix_server_history_url is defined %}
global $DB, $HISTORY;
{% else %}
global $DB;
{% endif %}

$DB['TYPE']     = '{{ zabbix_server_database|upper() }}';
$DB['SERVER']   = '{{ zabbix_server_mysql_login_host }}';
$DB['PORT']     = '{{ zabbix_server_dbport }}';
$DB['DATABASE'] = '{{ zabbix_server_dbname }}';
$DB['USER']     = '{{ zabbix_server_dbuser }}';
$DB['PASSWORD'] = '{{ zabbix_server_dbpassword }}';

// SCHEMA is relevant only for IBM_DB2 database
$DB['SCHEMA'] = '';

$ZBX_SERVER      = '{{ zabbix_server_hostname }}';
$ZBX_SERVER_PORT = '{{ zabbix_server_listenport }}';
$ZBX_SERVER_NAME = '{{ zabbix_server_hostname }}';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;

{% if zabbix_server_history_url is defined %}
$HISTORY['url']		= {{ zabbix_server_history_url }};
$HISTORY['types']	= {{ zabbix_server_history_types | to_json }};
{% endif %}

{% if zabbix_web_env is defined %}
{% for env,val in zabbix_web_env.iteritems() %}
putenv("{{env}}={{val}}");
{% endfor %}
{% endif %}
?>
